name: Build and Test

on:
  push:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(join(github.event.commits.*.message, ' '), '[ci-skip]')"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v5

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: 'temurin'
          cache: 'gradle'

      - name: Make Gradle wrapper executable
        run: chmod +x ./gradlew

      - name: Build and Test
        run: ./gradlew build test --parallel --no-daemon --build-cache
        env:
          GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.parallel=true -Dorg.gradle.caching=true"

      - name: Capture build artifacts
        uses: actions/upload-artifact@v5
        continue-on-error: true
        with:
          name: Artifacts
          path: build/libs/